advent-of-code-data==2.0.4
build==1.2.2
flake8==7.1.1
pillow==11.0.0
pre-commit==4.0.1
pytest==8.3.4
pytest-runner==6.0.1
readme-renderer==44.0  # pinned so pypy3 installs of twine will work
twine==6.0.1
